body {
    padding: 32px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}

main {
    background-color: #79dbf9;
    border-radius: 20px;
    padding: 32px;
}
p, div {
    text-align: justify;
}


textarea {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 80px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


button {
    align-items: center;
    background-color: mintcream;
    border-radius: 5px;
    width: 100%;
    font-size:1vw;
    font-weight: 900;
    height: 30px;
}

table {
    table-layout: fixed;
}

table > section {
    table-layout: fixed;
}



td {
    padding: 8px;
}
.form {
    background-color: antiquewhite;
    width: 100%;
    border-radius: 15px;
}

.section-input{
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    background-color: white;

    
}


.grid-container {
    display: grid;
    grid-template-columns: 60%;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.616);
    padding: 20px;
    border-radius: 8px;
  }

.asidepart {
    grid-column: 2;
    grid-row: 1 / span 3;
    background-color: white;
    width:auto;
    border-radius: 15px;
    padding: 20px;
}

.upper-sidepanel {
    text-align: center;
    background-color: rgb(0, 110, 255);
    border-radius: 18px;
    font-size: 7vw;
    font-weight: bolder;
    padding: 10%;
    color: white;
}

.infopanel {
    text-align:center;
}

.formula {
    font-style: italic;
    font-size: 2vw;
}
.statuspanel {
    text-align: center;
    font-size:3vw;
    font-weight:bold;
}